<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

    <appSettings>
        <add key="AccountName" value="" /><!-- eg. readify for readify.visualstudio.com -->
        <add key="ProjectName" value="" /><!-- name of the team project in VSO -->
        
        <add key="QueryPath" value="Shared Queries/Current Sprint/Current Sprint"/>
        
        <add key="AuthUrl" value="https://app.vssps.visualstudio.com/oauth2/authorize" />
        <add key="TokenUrl" value="https://app.vssps.visualstudio.com/oauth2/token" />
        <add key="Scopes" value="vso.build vso.code vso.work_write" />
        <add key="CallbackUrl" value="https://localhost.m/vso/callback" />
        
        <add key="AppId" value="" />
        <add key="ClientSecret" value="" />
    </appSettings>
</configuration>